{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Редактировать книгу</h1>
    <div id="page">
        {{ form_start(edit_form, {attr: {'novalidate': 'novalidate'}}) }}
        <table>
            <tr>
                <td colspan="2">
                    {{ form_errors(edit_form) }}
                </td>
            </tr>
            
            <tr>
                <td> {{ form_label(edit_form.title, 'Название') }}</td>
                <td> {{ form_widget(edit_form.title) }}</td>
            </tr>
            <tr>
                <td colspan="2"> {{ form_errors(edit_form.title) }}</td>
            </tr>
            
            <tr>
                <td> {{ form_label(edit_form.author, 'Автор') }}</td>
                <td> {{ form_widget(edit_form.author) }}</td>
            </tr>
            <tr>
                <td colspan="2"> {{ form_errors(edit_form.author) }}</td>
            </tr>
            
            <tr>
                <td> {{ form_label(edit_form.file, 'Файл с книгой') }}</td>
                <td> {{ form_widget(edit_form.file) }}</td>
            </tr>
            <tr>
                <td colspan="2"> {{ form_errors(edit_form.file) }}</td>
            </tr>
            
            <tr>
                <td> {{ form_label(edit_form.coverFile, 'Обложка') }}</td>
                <td> {{ form_widget(edit_form.coverFile) }}</td>
            </tr>
            <tr>
                <td colspan="2"> {{ form_errors(edit_form.coverFile) }}</td>
            </tr>
        </table>
        {{ form_end(edit_form) }}
        <div class="cover">
                {% if entity.WebCoverPath %}
                    <img src="{{ asset(entity.WebCoverPath) }}" width="100" height="100" />
                {% else %}
                    <img src="{{ asset('bundles/intarobook/img/default_cover.png') }}" width="100" height="100" />
                {% endif %}
        </div><!--.cover-->
        <ul class="record_actions">
            <li>
                <a href="{{ path('book') }}">
                    Back to the list
                </a>
            </li>
            <li>{{ form(delete_form) }}</li>
        </ul>
    </div><!--#page-->
{% endblock %}
